VITE_SUPABASE_URL=https://mrfblzsihpecockhsnqe.supabase.co
VITE_VIATOR_FN_URL=https://mrfblzsihpecockhsnqe.supabase.co/functions/v1/viator-cards
VITE_SUPABASE_ANON_KEY=
VITE_POSTHOG_KEY=
VITE_POSTHOG_HOST=https://eu.i.posthog.com
